<html>
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Register</title>
	<link rel="stylesheet" type="text/css" href="css/emailregister.css">
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-10 offset-md-1">
				<div class="row">
					<div class="col-md-5 register-left">
						<span><i class="fas fa-angle-double-down"></i></span>
						<h3>Join Us</h3>
						<a type="button" class="btn btn-light" href="/">About Us</a>
					</div>
					<div class="col-md-7 register-right">
						<form action="/e-mail" method="get">
							<div class="register-form">
								<div class="form-group">
									<input type="text" placeholder="First Name" name="firstname" class="form-control">
								</div>
								<div class="form-group">
									<input type="text" placeholder="Last name" name="lastname" class="form-control">
								</div>
								<div class="form-group">
									<input type="email" name="email" placeholder="Email" class="form-control">
								</div>
								<button type="submit" class="btn btn-primary">Register</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>	
	</div>
</body>
</html>